<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
  <link rel="stylesheet" href="/styles/layout.css" type="text/css" />

  <title>Monkey Writers</title>
</head>
<body>
  <%- include('partials/_header') %>


  <main>




    <div class="box">
      <header>
        <div class="top-left">
            <div>
              <img src="<%= story.avatar %>">
            </div>
            <div class="top-left-column">
                <span>creator</span>
                <span><%= story.creator %></span>
            </div>
        </div>
        <div class="top-right">
            <div class="top-right-column">
              <!-- <span>contributor</span> -->
              <!-- <span>contributors.user_name</span> -->
            </div>
            <div>
            <!-- <img src="/images/av6.png"> -->
            </div>
        </div>
      </header>
      <div class="storyTitle">
      <%= story.title %>
      </div>

      <div class="text-section">
      <%= story.content %>
      </div>
      <footer>
      <!-- <a class="nav-item nav-link" href="/stories/${story.id}">Add contribution to story</a> -->
        <!-- <span>rate this prospect</span> -->
      </footer>
    </div>

    <section id="new-story-box">
      <form id="contributeStory-form" method="POST" action="/api/stories/<%= storyID %>/prospects">

        <label for="contribution-text">Contribute to this Story</label>
        <textarea name="contributeText" id="contribution-text"></textarea>
        <div>
          <button type="submit" class="btn btn-success">Submit story contribution</button>
        </div>
      </form>
    </section>

    <section id="render-prospects"></section>
    <input id="storyID" type="hidden" value="<%= storyID %>"/>
  </main>







  <script src="/vendor/jquery-3.0.0.js"></script>
  <script src="/scripts/prospects.js"></script>


</body>

</html>
